{
  "sourceMap": true,
  "presets": [
    "stage-2",
    ["env", {
      "targets": {
        "node": 6,
      },
      "debug": false,
    }]
  ],
  "plugins": [
    "add-module-exports",
    "lodash",
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul",
      ],
    },
    "production": {
      "presets": [
        "babili",
      ],
    },
  }
}
